main{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
/* .ovl{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  z-index: -1;
} */
nav:first-child>ul {
  display: flex;
  justify-content: center;
  padding: 0;
  margin-left: auto;
  gap: 20px;
}
.navbar{
  position : fixed;
  width: 100vw;
  top: 10px;
  right: 35px;
  z-index: 1;
}
nav:first-child{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
}
.ph-nav{
  display: none;
}
.chickletta{
  display: none;
}
li{
  list-style-type: none;
}
/* .title{
  color: white;
  font-size: 30px;
  position: sticky;
  top: 50px; Sticks when it reaches this position */
/* } */

.f{
  font-weight: 300;
  color: var(--red);
  letter-spacing: 0.3em;
  font-size: 30px;
}
.s{
  font-size: 30px;
  margin-left: 8px;
  font-family: "Din Condensed Web";
}
.pan-icon{
  width: 90px;
  aspect-ratio: 3/2;
  object-fit: cover;
  margin: 25px 0 0 75px;
}
.menu{
  display: none;
  width: 30px;
  /* filter: brightness(0) saturate(100%) invert(21%) sepia(87%) saturate(4923%) hue-rotate(343deg) brightness(77%) contrast(116%); */
}
nav:first-child>ul>li>a{
  border-radius: 3px;
  padding: 6px;
  text-decoration: none;
  color: white;
}
li> a:hover{
  background-color: var(--red);
  transition: ease-in-out 0.5s;
}
.home{
  min-height: 100vh;
  width: 98.3vw;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.title{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
  color: white;
  font-size: 30px;
  position: sticky;
  top: 0px;
}
.mainvideo{
  position: absolute;
  min-width: 100%;
  object-fit: cover;
  height: 100vh;
  left : 0px;
  top: 0px;
  z-index: 0;
}
.text{
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.text>p{
  font-weight: 300;
  font-style: normal;
}
.about{
  min-height: 100vh;
  width: 98.3vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.service{
  min-height: 100vh;
  width: 98.3vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.service .slider-wrapper{
  display: flex;
  align-items: center;
  height: 100%;
}
.service .slider-serv{
  display: flex;
  overflow: hidden;
  margin: 0 10px 0 10px;
  max-width: 100vw;
  gap: 20px;  
}
.slider{
  display: flex;
  overflow: hidden;
  padding: 0 10px 0 10px;
  max-width: 93vw;
  gap: 20px;  
}
.con,.team-member{
  width: 250px;
  height: 250px;
  aspect-ratio: 1;
  position: relative;
  z-index: 0;
}
.con-services, .services{
  width: 300px;
  height: 520px;
  aspect-ratio: 1;
  position: relative;
  z-index: 0;
}
.team-member:hover, .services:hover{
  transition: all 0.5s ease-in;
}
.button,.button-serv{
  border: 0;
  padding: 0;
  border-radius: 70px;
  background-color: gray;
  position: absolute;
  width: 50px;
  height: 50px;
  transform: translateY(180%);
  z-index: 0;
  opacity: 0.6;
}
.button-serv{
  transform: translateY(0);
}
.left{
  left: 0px;
}
.left>img{
  width: 20px;
  aspect-ratio: 1;
}
.right>img{
  width: 20px;
  aspect-ratio: 1;
}
.right{
  right: 0;
}

/* .video1{
  width: 35%;
  height: auto;
  transform: translate(45%, 5%);
  border-radius: 9px;
  z-index: 1;
}
.video2{
  width: 35%;
  height: auto;
  transform: translate(30%, 35%);
  border-radius: 9px;
  z-index: 2;
}*/
.overlay{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 250px;
  background-color: gray;
  color : black;
  position: relative;
  z-index: 2;
}
.overlay-services{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 520px;
  background-color: gray;
  color: black;
  position: relative;
  z-index: 2;
}
.overlay:hover, .overlay-services:hover{ 
  opacity: 0.5;
}
/* .slider .con:nth-child(2) .overlay,  .slider .con:nth-last-child(2) .overlay */
.slider .con:first-child .overlay, .slider .con:last-child .overlay{
 display:none;
 width: 100px;
 opacity: 0;
}
.slider .con:first-child .overlay, .slider .con:last-child .overlay{
  display:none;
  width: 100px;
  opacity: 0;
 }
.slider .con:first-child, .slider .con:last-child{
  width: 100px;
 }
/* .slider .con:nth-child(2) img, .slider .con:nth-last-child(2) img */
.slider .con:first-child img,  .slider .con:last-child img{
  display:none;
 }
 /* jkjj */
 .slider-serv .con-services:first-child .overlay-services, .slider-serv .con-services:last-child .overlay-services{
  display:none;
  width: 100px;
  opacity: 0;
 }
 .slider-serv .con-services:first-child .overlay-services, .slider-serv .con-services:last-child .overlay-services{
   display:none;
   width: 100px;
   opacity: 0;
  }
 .slider-serv .con-services:first-child, .slider-serv .con-services:last-child{
   width: 100px;
  }
 /* .slider-serv .con-services:nth-child(2) img, .slider-serv .con-services:nth-last-child(2) img */
 .slider-serv .con-services:first-child img,  .slider-serv .con-services:last-child img{
   display:none;
  }
.service h1{
  text-align: center;
}
.showcase{
  height: 100vh;
  width: 98.3vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* overflow: visible; */
}
.video-container{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 96vh;
  gap: 5px;
  flex-wrap: nowrap;
  overflow-x: scroll;
  scroll-behavior: smooth;
  padding: 0 20px;
  z-index: 0;
}
.video-container::-webkit-scrollbar {
  height: 5px;
}
.video-container::-webkit-scrollbar-thumb {
  background: var(--red); /* Orange */
  border-radius: 5px;
}
video{
  width: 170px;
  flex-shrink: 0;
  /* min-width: 310px; */
}
/* .vid2{
  transform: translateY(65px);
} */
.vid4{
  width: 535px;
}
.content {
  flex: 1 !important;
}
footer{
  display: flex;
  height: 90px;
  justify-content: center;
  align-items: start;
  max-width: 99vw;
}
.curve {
  background: linear-gradient(to bottom, rgba(128, 128, 128, 0) 0%, grey 150%);
  height: 180px;
  width: 100%;
  position: relative;
  z-index: 5;
  /* position: absolute; */
  /* bottom: -30px; */
  /* left: 0;
  width: 100%;
  overflow: hidden;*/
  /*z-index: -3; */
  /* height: 30%; */
}

.con-icon .a{
  width: 50px;
  height: 50px;
  filter: brightness(0) saturate(100%) invert(99%) sepia(100%) saturate(0%) hue-rotate(351deg) brightness(102%) contrast(100%);
}
.con-icon .b{
  width: 50px;
  height: 50px;
  filter: brightness(0) saturate(100%) invert(99%) sepia(100%) saturate(0%) hue-rotate(351deg) brightness(80%) contrast(100%);

} 
.con-icon .c{
  width: 60px;
  height: 60px;
} 
.con-icon{
  display: flex;
  width: inherit;
  height: 100%;
  gap: 15%;
  justify-content: center;
  align-items: center;
  
}
.con-text h1{
  font-size: small;
}
.con-text{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -35px;
  /* transform: rotate(180deg) translateY(180px); */
}



@media screen and (max-width: 875px){
  .menu{
    display: block;
    position: absolute;
    width: 30px;
    right: 0px;
    top: 10px;
    z-index: 10;
  }
  
  .navbar{
    width: 100%;
    margin-left:-160px;
  }
  .pan-icon{
   margin: 55px;
  }
  .chickletta{
    position: relative;
    left: 95px;
    top: -5px;
    opacity: 0;
    z-index: 9;
  }
  .chickletta:checked ~ nav>nav,
   .chickletta:checked ~ .ph-nav{
    display: flex !important;
  }
  .navbar>nav>nav{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.348);
    opacity: 0.9;
    position: absolute;
    left: 35px;
    top: -10px;
    width: 100vw;
    border-radius: 0px;
    height: 100vh;
    z-index: 9;
    
    /* left: 20px;
    bottom: 70px; */
  }
  .ph-nav{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 70%;
    height: 300px;
    padding: 0;
    margin: 0;
    justify-self: center;
    border-radius: 10px;
    z-index: 7;
    animation: fadeIn 0.4s cubic-bezier(0.18, 0.89, 0.32, 1.28) forwards;
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 0.8;
    }
  }
  .ph-nav>li{
    height: 30px;
    padding:10px;
  }
  .ph-nav>li>a{
    text-decoration: none;
    color: white;
    font-size: larger;
    font-weight: bold;
    padding: 0 20px;
  }
  nav:first-child>ul>li>a{
    display: none;
  }
  .text{
    width: 90%;
  }
  .home,.about{
    width: 97vw;
  }
  .slider{
    width: 97%;
  }
  .team-member, .con{
    width: 200px;
    height: 200px;
    aspect-ratio: 1;
  }
  .overlay{
    width: 200px;
    height: 200px;
  }
  .text>p{
    font-size: 20px;
    width: fit-content;
    padding: 10px;
    text-align: center;
  }
  .right{
    right: 0px;
  }
  .left{
    left: 0px;
  }
  .button{
    transform: translateY(110%);
  }
  .video-container{
    height: 100vh;
    /* display: flex; */
    overflow-x: auto;
    white-space: nowrap;
    /* flex-wrap: nowrap; */
    flex-direction: row;
  }
  .curve{
    min-width: 100%;
  }
  footer, .about,.showcase,.service{
    width: 97.4vw;
  }
}
