@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
body {
  margin: 0;
  padding: 0;
  font-family: 'Newsreader', sans-serif;
  color: white;
  background-color: gray;
  --red: #D0021B;
}
html{
  scroll-behavior: smooth;
}